[Unit]
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service
# SuccessAction=reboot

[Service]
Type=oneshot
ExecStart=/usr/libexec/lambos-install
PrivateMounts=yes
PrivateTmp=yes

[Install]
WantedBy=lambos-installer.service
